snippet from
	from ${1:package} import ${2:module}
snippet forr
	for ${1:i} in range(len(${2:sequence})):
		${3:# code...}
snippet fore
	for ${1:i}, ${2:item} in enumerate(${3:sequence}):
		${4:# code...}
