snippet main "main" b
if __name__ == '__main__':
	${1:main()}$0
endsnippet

snippet im "import" b
import $0
endsnippet

snippet ds "docstring" !b
""" ${1:${VISUAL:docstring}}

"""$0
endsnippet

snippet init "__init__" !b
def __init__(self$1):
	$0
endsnippet

snippet def "def" !b
def ${1:function}(`!p
if snip.indent:
   snip.rv = 'self' + (", " if len(t[2]) else "")`${2:arg1}):
	$0
endsnippet

snippet pr "print" !b
print $0
endsnippet
