snippet main "main" b
if __name__ == '__main__':
	${1:main()}$0
endsnippet

snippet im "import" b
import $0
endsnippet

# /* snippet from "from module import function" b */
# /* from ${1:module} import ${2:*}$0 */
# /* endsnippet */
