<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome" />
    <package id="autohotkey" />
    <package id="sharpkeys" />
    <package id="greenshot" />
    <package id="VisualStudioCode" />
    <package id="vscode-powershell" />
    <package id="vscode-gitlens" />
    <package id="kdiff3" />
    <package id="conemu" />
</packages>